css.parseFiles
   /home/austin/Desktop/Programs/Scripts/szism/ag-Boilerplate/CSS/imdexStyles.css
   /home/austin/Desktop/Programs/Scripts/szism/ag-Boilerplate/CSS/Bootstrap/bootstrap.css
   /home/austin/Desktop/Programs/Scripts/szism/CSS/indexStyles.css
   /home/austin/Desktop/Programs/Scripts/szism/CSS/aboutStyles.css
   /home/austin/Desktop/Programs/Scripts/szism/CSS/Bootstrap/bootstrap.css
css.parseEnd
html.parseFiles
   /home/austin/Desktop/Programs/Scripts/szism/ag-Boilerplate/HTML/imdex.html
   /home/austin/Desktop/Programs/Scripts/szism/HTML/about.html
   /home/austin/Desktop/Programs/Scripts/szism/HTML/index.html
html.parseEnd
js.parseFiles
   /home/austin/Desktop/Programs/Scripts/szism/ag-Boilerplate/JS/jquery.easing.min.js
   /home/austin/Desktop/Programs/Scripts/szism/ag-Boilerplate/JS/jquery.js
   /home/austin/Desktop/Programs/Scripts/szism/ag-Boilerplate/JS/main.js
   /home/austin/Desktop/Programs/Scripts/szism/JS/jquery.easing.min.js
   /home/austin/Desktop/Programs/Scripts/szism/JS/jquery.js
   /home/austin/Desktop/Programs/Scripts/szism/JS/main.js
js.parseEnd
